*{
	box-sizing: border-box;
}
#box{
	width: 263px;
	margin: auto;
	margin-top: 100px;
}
form{
	background-color: skyblue;
	display: inline-block;
	padding: 29px 24px;
    height: 380px;
    width: 263px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #404040, inset -5px -7px 12px #2196c4;	
}

input{
	background-color: black;
	color: white;
}
#line{
	height: 50px;
	width: 212px;
	margin-bottom: 5px;
	font-size: xx-large;
	font-family: 'Orbitron', sans-serif;
	padding-right: 10px;
	text-align: right;
	padding-top: 7px;
	background-color: #c3c2ab;
	color: black;
	border:2px solid #b4b39d;
}
#red{
	background-color: #cc0000;
}
#blank{
	visibility: hidden;
}

.buttons{
	width: 50px;
	height:48px;
	font-size: 30px;
	margin-top: 5px;
	border-radius: 10px;
	box-shadow: 0px 3px 0px 0px #222121;
}	
#wide{
	width: 102px;
}

#tall{
	position: absolute;
	height: 101px;
}
#times{
	padding-top: 9px;
	position: absolute;
}
